@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 26px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.02em;
  font-size: 16px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

form {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
}

em,
address {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
}

button {
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  border: 0;
  background: none;
}

body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
label {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

u {
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

:root {
  --purple: #2f1893;
  --thick-purple: #1e0e62;
  --light-purple: #482be7;
  --gray: #ebeaed;
  --mint: #25dac5;
  --primary: #1087f5;
  --red: #ea3223;
  --container-padding: 0 20px;
}

.bg-purple {
  background-color: var(--purple) !important;
  color: #fff !important;
}

.bg-light-purple {
  background-color: var(--light-purple) !important;
  color: #fff !important;
}

.bg-mint {
  background-color: var(--mint) !important;
  color: #fff !important;
}

.text-purple {
  color: var(--thick-purple) !important;
}

.text-thick-purple {
  color: var(--thick-purple) !important;
}

.text-light-purple {
  color: var(--light-purple) !important;
}

.text-light-black {
  color: #151439;
  opacity: 40%;
}

.border-op30 {
  border: 2px solid #fff;
  opacity: 30%;
}

.border-op20 {
  border: 2px solid #fff;
  opacity: 20%;
}

.border-gray {
  border: 2px solid #ebeaed;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-nomalbold {
  font-weight: 500;
}

.ls-2 {
  letter-spacing: 2px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  display: flex;
}

.search {
  background: url(../../img/common/icon-search.svg) no-repeat;
}

.twitter {
  background: url(../../img/common/icon-twitter.svg) no-repeat;
}

.facebook {
  background: url(../../img/common/icon-facebook.svg) no-repeat;
}

.google-plus {
  background: url(../../img/common/icon-google-plus.svg) no-repeat;
}

#wrap {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  color: var(--thick-purple);
  z-index: 10;
  background: #fff;
}
header nav {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
header nav ul {
  display: flex;
  gap: 38px;
  align-items: center;
}
header nav .auth-nav {
  gap: 28px;
}
header nav .gnb-toggle {
  display: none;
}
header .gnb-menu {
  position: absolute;
  transition: 0.5s;
  top: 100%;
  left: 0;
  right: 0;
  pointer-events: none;
  transform: translateX(100%);
  background-color: #fff;
  opacity: 0;
  height: 100vh;
}

main {
  margin-top: 100px;
  display: flex;
  flex: 1;
  justify-content: center;
}
main h1 {
  display: flex;
  margin: 50px 0;
  color: #1E0E62;
}
main section {
  margin-bottom: 100px;
}

footer {
  background: var(--purple);
  color: #fff;
  padding: 55px 115px;
}
footer ul, footer .footer-info {
  display: flex;
}
footer ul.main-nav {
  gap: 28px;
}
footer hr {
  margin: 38px 0 44px;
  border: 2px solid #fff;
  opacity: 30%;
}
footer .footer-info {
  justify-content: space-between;
}
footer .footer-info .sns {
  gap: 35px;
  margin-top: 7px;
}

@media (max-width: 991.98px) {
  #hd #gnb, #hd .auth {
    display: none;
  }
  #hd .gnb-toggle {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
  }
  #hd .gnb-toggle::before, #hd .gnb-toggle::after {
    content: "";
    position: absolute;
    right: 2px;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    transition: 0.2s;
    background: var(--purple);
  }
  #hd .gnb-toggle::before {
    top: calc(50% - 7px);
  }
  #hd .gnb-toggle::after {
    top: 50%;
    width: 15px;
  }
  #hd .gnb-menu-inner > li {
    margin-bottom: 30px;
  }
  #hd .gnb-menu-auth {
    display: flex;
    flex-direction: column;
  }
  .gnb-open #hd .gnb-menu {
    opacity: 1;
    pointer-events: all;
    transform: translateX(50%);
    font-size: 22px;
  }
  .gnb-open #hd .gnb-toggle::before {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
  .gnb-open #hd .gnb-toggle::after {
    top: 50%;
    width: 20px;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }
  #ft .footer-info {
    align-items: center;
  }
  #ft .footer-info p {
    display: none;
  }
}
@media (max-width: 575.98px) {
  #ft .main-nav {
    flex-direction: column;
    gap: 10px;
  }
  #ft hr {
    margin: 15px 0;
  }
  #ft .footer-info {
    flex-direction: column;
  }
}
.btn {
  padding: 9px 20px;
  border-radius: 100px;
  font-size: 16px;
}

.btn-mini {
  padding: 9px 17px;
  border-radius: 100px;
  font-size: 16px;
}

.dropdown-wrp {
  display: flex;
  gap: 30px;
}
.dropdown-wrp .dropdown {
  margin-bottom: 30px;
}
.dropdown-wrp .dropdown .btn {
  padding: 0 20px;
  border-radius: 0;
  font-size: 14px;
  color: rgba(21, 20, 57, 0.4);
  position: relative;
  text-align: left;
  padding-left: 16px;
}
.dropdown-wrp .dropdown .btn .icon-dropdown {
  position: absolute;
  content: "";
  background: url(../../img/common/icon-dropdown.svg) no-repeat 100% 100%/contain;
  width: 12px;
  height: 12px;
  margin: 2px 0 0 4px;
}
.dropdown-wrp .dropdown .btn.active {
  color: #1E0E62;
}
.dropdown-wrp .dropdown .btn.active .icon-dropdown {
  background: url(../../img/common/icon-dropdown-show.svg) no-repeat 100% 100%/contain;
}

.dropdown.show .btn {
  font-weight: 700;
}
.dropdown.show .dropdown-menu.show {
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.17);
  background: #fff;
}
.dropdown.show .dropdown-menu.show .dropdown-item {
  color: rgba(21, 20, 57, 0.4);
}
.dropdown.show .dropdown-menu.show .dropdown-item:hover {
  background: #EBEAED;
}

.text-xxl {
  font-size: 42px;
}

.text-xl {
  font-size: 32px;
}

.text-lg {
  font-size: 24px;
}

.text-md {
  font-size: 22px;
}

.text-sm {
  font-size: 18px;
}

.text-xs {
  font-size: 14px;
}

.bx-wrp {
  display: flex;
  gap: 30px;
}
.bx-wrp .bx-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bx-wrp .bx-cont h2 {
  margin-top: 28px;
}
.bx-wrp .bx-cont .cont-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px 0 27px;
  gap: 12px;
}
.bx-wrp .bx-cont .cont-category a:hover {
  opacity: 100%;
}
.bx-wrp .bx-cont .btn {
  margin-bottom: 40px;
}

.all .bx-wrp .bx img {
  border-radius: 10px;
}
.all .bx-wrp .bx .bx-cont {
  border: 0;
}
.all .bx-wrp .bx .bx-cont .text-light-purple {
  margin: 6px 0 13px;
  border: 0;
}
.all .bx-wrp .bx .bx-cont .btn {
  color: #1E0E62;
}

.detail .container {
  display: flex;
  gap: 130px;
  margin-top: 100px;
}
.detail .container .prod-img-wrp article.prod-img {
  display: flex;
  gap: 30px;
}
.detail .container .prod-img-wrp article.prod-img .additional-img {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.detail .container .prod-img-wrp article.prod-img .main-img img {
  height: 100%;
}
.detail .container .prod-info-wrp .prod-tit h2 {
  margin-bottom: 12px;
}
.detail .container .prod-info-wrp .prod-desc {
  width: 370px;
  margin: 23px 0 34px;
}
.detail .container .prod-info-wrp .prod-option .size-option .btn {
  border-radius: 100px;
  padding: 9px 30px 9px 18px;
  width: 100px;
}
.detail .container .prod-info-wrp .prod-option .size-option .btn .icon-dropdown {
  margin-left: 35px;
}
.detail .container .prod-info-wrp .prod-option .option-wrp {
  display: flex;
  align-items: center;
  gap: 20px;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .color-option {
  display: flex;
  flex-direction: column;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .color-option .btn {
  cursor: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .color-option .btn label {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #0077B5;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .color-option .btn label:nth-child(2) {
  background: #4267B2;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .color-option .btn label:nth-child(3) {
  background: #1DA1F2;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .color-option .btn label:nth-child(4) {
  background: #C8232C;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .color-option .btn label:nth-child(5) {
  background: #219653;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .color-option .btn label input {
  cursor: pointer;
  opacity: 0;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .color-option .btn label::after {
  content: "";
  width: 10px;
  height: 8px;
  background: url(../../img/common/icon-chk.svg) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .quantity-option {
  display: flex;
  flex-direction: column;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .quantity-option .quantity-btn-wrp {
  display: flex;
  padding: 0;
  width: 118px;
  height: 40px;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .quantity-option .quantity-btn-wrp .quantity-btn, .detail .container .prod-info-wrp .prod-option .option-wrp .quantity-option .quantity-btn-wrp p {
  flex: 1;
}
.detail .container .prod-info-wrp .prod-option .option-wrp .quantity-option .quantity-btn-wrp p {
  border-left: 2px solid #EBEAED;
  border-right: 2px solid #EBEAED;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: auto;
}
.detail .container .prod-info-wrp .prod-option .prod-detail-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 37px 0 42px;
}
.detail .container .prod-info-wrp .prod-option .prod-detail-desc li {
  list-style: disc;
}

/*# sourceMappingURL=style.css.map */
