
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html{font-size: 62.5%;scroll-behavior: smooth;}
body {padding:0; margin:0; font-family:'DM Sans', sans-serif; line-height: 1.5; color:#333; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust:100%;letter-spacing: -.02em;font-size: 14px;}

@media (min-width: 768px){
	body{font-size: 16px;}
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

fieldset {display:block; margin:0; padding:0; border:0;}
form {margin:0; padding:0;}
a,a:hover,a:focus,a:active{color: inherit;text-decoration:none}
img {border:0; vertical-align:top;max-width: 100%;}
em, address {font-style:normal;}
table {width:100%; border-collapse:collapse;}
button {font-family:'DM Sans', sans-serif;cursor: pointer;border: 0;background: none;}

body, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label{margin: 0;padding: 0}
ul, li{list-style:none;}
u{text-decoration-thickness: 1px;text-underline-position: under;}

// color
:root{
	--purple : #2F1893;
    --thick-purple:#1E0E62;
	--gray: #EBEAED;
	--mint: #25DAC5;
	--primary: #1087F5;
	--red: #EA3223;
	--hotpink: #E93A7D;
}

.bg-purple {background-color: var(--purple) !important;  color: #fff !important}
.bg-mint {background-color: var(--mint) !important; color: #fff !important;}
.bg-hotpink {background-color: var(--hotpink) !important;  color: #fff !important}
.text-purple {color: var(--thick-purple) !important;}

.text-op70 {color: #fff; opacity: 70%;}
.border-op30 {border: 2px solid #fff; opacity: 30%;}
.border-op20 {border: 2px solid #fff; opacity: 20%;}

// util
.text-xxl {font-size: 58px;}
.text-xl {font-size: 24px;}
.text-lg {font-size: 22px;}
.text-md {font-size: 18px;}
.text-sm {font-size: 16px;}
.text-xs {font-size: 14px;}

// icon
.icon { display: inline-block; width: 16px; height: 16px; display: flex; }
.search {background: url(../img/icon/icon-search.svg) no-repeat;}


