

:root{
	--purple : #2F1893;
    --thick-purple:#1E0E62;
	--gray: #EBEAED;
	--mint: #25DAC5;
	--primary: #1087F5;
	--red: #EA3223;
	--hotpink: #E93A7D;
}

// color
.bg-purple {background-color: var(--purple) !important;}
.bg-mint {background-color: var(--mint) !important;}
.bg-hotpink {background-color: var(--hotpink) !important;}

// opacity
.text-op70 {color: #fff; opacity: 70%;}
.border-op30 {border: 2px solid #fff; opacity: 30%;}
.border-op20 {border: 2px solid #fff; opacity: 20%;}

// font-size
.text-xxl {font-size: 58px;}
.text-xl {font-size: 24px;}
.text-lg {font-size: 22px;}
.text-md {font-size: 18px;}
.text-sm {font-size: 16px;}
.text-xs {font-size: 14px;}

// icon
.icon { display: inline-block; width: 16px; height: 16px; }
.search {background: url(../img/icon/icon-search.svg) no-repeat;}

// hedaer
#hd {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    // height: 100px;
    background-color: gray;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: space-around;
    ul {
        display: flex;
    }
}
