// btn
.btn {padding: 9px 20px; border-radius: 100px; font-size: 16px;}
.btn-mini {padding: 9px 17px; border-radius: 100px; font-size: 16px;}

// dropdown
.dropdown-wrp {
    display: flex;
    gap: 30px;
    .dropdown {
        padding: 10px 0 20px;
        .btn {
            padding: 0 20px;
            border-radius: 0;
            font-size: 14px;
            color: #15143966;
            position: relative;
            text-align: left;
            padding-left: 16px;
            .icon-dropdown { 
                position: absolute;
                content: "";
                background: url(../img/common/icon-dropdown.svg) no-repeat 100% 100%/contain;
                width: 12px;
                height: 12px;
                margin: 2px 0 0 4px;
            }
        }
    }
    .dropdown.show {
        .btn {
            color: #1E0E62;
            .icon-dropdown { 
                position: absolute;
                content: "";
                background: url(../img/common/icon-dropdown-show.svg) no-repeat 100% 100%/contain;
                width: 12px;
                height: 12px;
                margin: 2px 0 0 4px;
            }
        }
    }
}
.dropdown.show {
    .btn {
        font-weight: 700;
    }
    .dropdown-menu.show {
        font-size: 16px;
        border-radius: 10px;
        box-shadow: 0 15px 40px rgba(0,0,0,0.17);
        background: #fff;
            .dropdown-item {
                color: #15143966;
            }
            .dropdown-item:hover {
                background: #EBEAED;
            }
    }
}

// bx
.row {
    gap: 30px;
    .bx {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}