
@import url(../common/css/basic.css);
body{width: 840px;height: 473px; overflow: hidden;}
#wrap{position: relative;width: 840px;height: 473px; overflow: hidden}
#root {
    overflow: hidden;
    position: relative;
    width: 840px; height: 473px;
    background: url(../img/index/bg.jpg) no-repeat 0 0 / cover;
    text-align: center;
    display: flex; flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#root .title-banner{
    position: absolute;
    top: 195px;
    left: 50%;
    transform: translateX(-50%);
}
#root .title-banner img{
    height: 40px;
}
#root .title-banner span{
    position: absolute;
    right: 0px;top: -3px;
    padding: 13px 18px 0 0 ;
    font-size: 13px; font-weight: 600;
}
#root .btn-wrap{
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}

#root #start-btn img{
    height: 60px;
}
