
#wrap {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.logo {
    font-size: 24px;
    font-weight: 700;
}
// header
header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    color: var(--thick-purple);
    z-index: 10;
    background: #fff;
    nav{
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        ul {
            display: flex;
            gap: 38px;
            align-items: center;
        }
        .auth-nav {
            gap: 28px;
        }
        .gnb-toggle {
            display: none;
        }
    }
    .gnb-menu {
        position: absolute;
        transition: .5s;
        top: 100%;
        left: 0;
        right: 0;
        pointer-events: none; 
        transform: translateX(100%); 
        background-color: #fff;
        opacity: 0;
        height: 100vh;
    }
}
// main
main {
    margin-top: 100px;
    display: flex;
    flex: 1;
    justify-content: center;
    h1 {
        display: flex;
        margin: 50px 0;
        color: #1E0E62;
    }
    section {
        margin-bottom: 100px;
    }
}
// footer
footer {
    background: var(--purple);
    color: #fff;
    padding: 55px 115px;
    ul, .footer-info {
        display: flex;
    }
    ul.main-nav {
        gap: 28px;
    }
    hr {
        margin: 38px 0 44px;
        border: 2px solid #fff; opacity: 30%;
    }
    .footer-info {
        justify-content: space-between;
        .sns {
            gap: 35px;
            margin-top: 7px;
        }
    }
}

// mob
// 992
@include media-max(lg) {
    // header
    #hd {
        #gnb, .auth {
            display: none;
        }
        .gnb-toggle {
            display: inline-block;
            position: relative;
            width: 32px;
            height: 32px;
            &::before, &::after {
                content: "";
                position: absolute;
                right: 2px;
                width: 20px;
                height: 3px;
                border-radius: 2px;
                transition: .2s;
                background: var(--purple);
            }
            &::before {
                top: calc(50% - 7px);
            }
            &::after {
                top: 50%;
                width: 15px;
            }
        }
        .gnb-menu-inner>li {
            margin-bottom: 30px;
        }
        .gnb-menu-auth {
            display: flex;
            flex-direction: column;
            span {
                display: inline-block;
                border: 1px solid #2f1893;
                color: #1e0e62;
                font-weight: 600;
                width: 45%;
                text-align: center;
                border-radius: 25px;
                padding: 10px 0;
                margin-bottom: 10px;
            }
            .sign-up {
                background: #2f1893;
                color: #fff;
            }
        }
    }
    // header 오픈할 때 - gnb-open은 body에 붙는다.
    .gnb-open {
        #hd {
            .gnb-menu {
                opacity: 1;
                pointer-events: all;
                transform: translateX(50%);
                font-size: 22px;
                padding-left: 35px;
            }
            .gnb-toggle::before {
            top: 50%;
            -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
            }
            .gnb-toggle::after {
                top: 50%;
                width: 20px;
                -webkit-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }
    #ct {
        .all {
            .row {
                margin-bottom: 40px;
                .col-lg {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img {
                        width: 70%;
                        height: 70%;
                    }
                }
            }
        }
        .detail {
            .container {
                flex-direction: column;
                gap: 0;
                margin-top: 60px;
                .prod-img-wrp {
                    margin-bottom: 40px;
                }
                .prod-info-wrp {
                    margin-bottom: 60px;
                }
            }
        }
    }
    #ft {
        .footer-info {
            align-items: center;
            p {
                display: none;
            }
        }
    }
}
// 768
@include media-max(md) {
    #ct {
        .detail {
            .prod-info-wrp {
                margin-left: 40px;
            }
        }
    }
}
// 576
@include media-max(sm){
    #ct {
        .prod-info-wrp {
            .prod-option {
                .prod-detail-desc {
                    margin: 37px 20px 42px; 
                }
            }
        }
        .all {
            .dropdown-wrp {
                gap: 8px;
            }
        }
        .detail {
            .prod-info-wrp {
                margin-left: 85px;
            }
        }
    }
    #ft {
        .main-nav {
            flex-direction: column;
            gap: 10px;
        }
        hr {
            margin: 15px 0;
        }
        .footer-info {
            flex-direction: column;
            .sns {
                margin-top: 15px;
            }
        }   
    }
}
// 435
@include media-max(xs) {
    .container {
        max-width: 380px;
    }
    .gnb-open {
        #hd {
            .gnb-menu {
                padding-left: 15px;
            }
        }
    }
    .all {
        .dropdown-wrp {
            overflow-x: auto;
            padding: 0 20px 0 0;
            .dropdown.show {
                position: unset;
                .dropdown-menu.show {
                    top: 30px !important;
                }
            }
            .dropdown:nth-child(1) {
                min-width: 145px;
            }
            .dropdown:nth-child(2) {
                min-width: 96px;
            }
        }
        .dropdown-wrp::-webkit-scrollbar {
            display: none;  
        }
    }
    .detail {
        .container {
            .prod-info-wrp {
                display: block !important;
                margin-left: 0 !important;
                .prod-info {
                    .prod-desc {
                        span {
                            display: inline-block !important;
                        }
                    }
                }
            }
        }
    }
}
// 345 - z fold
@include media-max(xxs) {
    .container {
        max-width: 340px;
        .prod-info-wrp {
            .prod-desc {
                font-size: 13.4px;
            }
        }
    }
}