@charset "utf-8";


/* Font */
@font-face{font-weight:300;font-family:'Pretendard';src:url(../font/Pretendard-Light.woff) format('woff');font-display: fallback}
@font-face{font-weight:400;font-family:'Pretendard';src:url(../font/Pretendard-Regular.woff) format('woff');font-display: fallback}
@font-face{font-weight:500;font-family:'Pretendard';src:url(../font/Pretendard-Medium.woff) format('woff');font-display: fallback}
@font-face{font-weight:700;font-family:'Pretendard';src:url(../font/Pretendard-Bold.woff) format('woff');font-display: fallback}
@font-face{font-weight:900;font-family:'Pretendard';src:url(../font/Pretendard-Black.woff) format('woff');font-display: fallback}
.font-sans{font-family:'Pretendard',sans-serif !important}

/* reset with bootstrap */
body{position:relative;-webkit-text-size-adjust:none;background: #fff;}
body,input,textarea,select,button,table{line-height: 1.3;font-family: 'Pretendard',sans-serif;color: #000}
a,input,textarea,select,button{text-decoration:none;color:#231f20;outline:0 ; -webkit-transition:color .4s,border-color .4s,background .4s,box-shadow .4s,opacity .4s;transition:color .4s,border-color .4s,background .4s,box-shadow .4s,opacity .4s}
a:hover,a:focus,a:active{color:inherit;text-decoration: none;}
[role=button]{outline:0 !important}
a:focus:not(:focus-visible),input:focus:not(:focus-visible),textarea:focus:not(:focus-visible),select:focus:not(:focus-visible),button:focus:not(:focus-visible),[role=button]:focus:not(:focus-visible){outline:0 !important}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
input{background: none; border: 0;box-shadow: none;}
input::-ms-clear,input::-ms-reveal{display:none;width:0;height:0;}
input::-webkit-search-decoration,input::-webkit-search-cancel-button,input::-webkit-search-results-button,input::-webkit-search-results-decoration{display:none;}
li{list-style:none}
label{cursor:pointer;margin: 0;}
table{width:100%;border-collapse:collapse}
a,button{cursor:pointer}
button{border:0;box-shadow:none;background:none;font-family: inherit;}
i{font-style:normal;}
img{max-width:100%}
h1, h2, h3, h4, h5, h6{font-weight: 700 !important;font-size: inherit;line-height: inherit;}
textarea{resize: none;overflow: hidden}
hr{border-color: #DDD;margin: 56px 0;}
hr.dashed{border-color: #DDD;margin: 56px 0;border-style: dashed;}
b, strong{font-weight: 700;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;}
input[type=number]{-moz-appearance: textfield;}

/* Icon */
.icon{display:inline-block;overflow:hidden;margin:0;padding:0;border:0;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat;background-size:auto 100%;font-size:0;line-height:0;text-decoration:none;vertical-align:middle;text-indent:-1000em;width: 40px;height: 40px}
.icon-hint{ width: 87px; height: 84px;background-image: url(../img/hint.png);}
.icon-hint:focus,
.icon-hint:hover{background-image: url(../img/hint-over.png);}
.icon-next{width: 92px;height: 92px;background-image: url(../img/btn-next.png);}
.icon-next:focus,
.icon-next:hover{background-image: url(../img/btn-next-over.png);}
/* Modal */

/* layout */
body{width: 1920px;height: 980px; overflow: hidden;}
#wrap{position: relative;width: 1920px;height: 980px; overflow: hidden}

/* header */
#hd{
    position: fixed; top: 0;left: 0;
    background-color: rgba(242, 242, 242, 0.95);
    width: 1920px; height: 70px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.2);
    display: flex;
    justify-content:  space-between;
    align-items: center;
    z-index: 11100;
    padding: 0 50px;
}
#hd .lesson-title{
    font-size: 28px;
}
.hd-btns {
    display: flex;
    gap: 40px;
}
.hd-btns .icon{width: 34px; height: 34px;opacity: 0.4;}
.hd-btns .icon:hover{opacity: 1;}
.hd-btns .hd-sound{background-image:url(../img/ico-status-sound.png) ;}
.hd-btns .hd-sound.muted{background-image:url(../img/ico-status-soundx.png) ;}
.hd-btns .hd-home{background-image:url(../img/ico-status-home.png) ;}
.hd-btns .hd-close{background-image:url(../img/ico-status-x.png) ;}
.hd-btns .hd-video{background-image:url(../img/ico-status-video.png) ;}

#ct{
    height:100%;
    overflow: hidden;
}

/* 공통이미지버튼 */
.img-button {position: relative;}
.img-button img{transition: 0.2s;}
.img-button img.over{
    opacity: 0;
    position: absolute;
    top: 0;left: 0;width: 100%;
}
.img-button:hover img.over{opacity: 1;}
.img-button.disabled{pointer-events: none;}
.img-button.disabled img{filter: grayscale(1) brightness(1.5) contrast(0.8)}


/* modal */
.modal {padding-top: 70px;height: 980px;} 
.modal .icon-close{
    position: absolute;
    top: 0;right: 0;
    width: 72px; height: 72px;
    background-image: url(../img/btn-x.png);
    transform: translate(50%, -50%);
}
.modal .icon-close:hover{
    background-image: url(../img/btn-x-over.png);
}
.modal .modal-content{
    background-color: #2b6edb;
    border:2px solid #0540a0 ;
    box-shadow: inset 0 0 6px #0540a0 , 0 0 20px #000;
    border-radius: 35px;
    padding: 20px;
}
.modal .modal-dialog {
    max-width: none;
    width: 850px;
    font-size: 35px; font-weight: 500;
}
.modal .modal-body{
    background-color: #e6f4fc;
    border-radius: 20px;
    box-shadow: inset 0 0 8px #fff , 0 0 8px #2263cc;
    padding: 70px 20px;
    text-align: center;
}
/* 정오답 모달  */
.modal-answer .modal-dialog {
    width: 670px;
}
.modal-answer.modal-success .modal-dialog {
    width: 850px;
}
.modal-answer .answer-face {
    position: absolute;
    left: 50%; top: 0;
    z-index: 1060;
    transform: translate(-50% , -50%);
}
.modal-answer .answer-face img{
    max-width: none;
}
/* 성공모달 */
.modal-success .modal-dialog{position: relative;}
.modal-success .modal-dialog::after{
    content: "";
    position: absolute;
    top: 50%;left: 50%; 
    transform: translate(-50% , -80%)  scale(0.1);
    z-index: 1111;
    pointer-events: none;
    width: 800px;height: 415px;
    background: url(../img/success-bg.png) no-repeat center top / contain;
}
.modal-success.show .modal-dialog::after{
    transition: 0.2s; transition-delay: 0.3s;
    transform: translate(-50% , -90%)  scale(1);
}
/* 영상모달  */
.modal-vod .modal-dialog {
    width: 1480px;height: 100%;  max-height: 850px;
}
.modal-vod .modal-body{
    padding: 0; overflow: hidden;
}
.modal-vod .modal-body video{
    width: 100%; display: block;
    height: 100%; max-height: 810px;
}
.video-js{
    padding: 0 !important;
    border-radius: 20px !important;
}



/* vodmodal */
#vodModal .modal-dialog {
    width: 1480px; height: 850px;
}
#vodModal .modal-body{
    padding: 0; overflow: hidden;
    border-radius: 40px !important;
}
#vodModal .modal-body video{
    width: 100%; display: block;
    height: 810px;
}
#vodModal .icon-vod{
    width: 75px;height: 75px;
    position: absolute;
}
.vod-script{
    position: absolute;
    right: 0;bottom: 0; 
    border-radius: 20px;
    width: 574px;height: 332px;
    padding: 20px;
    background: url(../img/script-bg.png) no-repeat 0 0 / cover;
    display: none;
}
.vod-script.active{display: block;}
.vod-script>div{
    font-size: 20px;
    height: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{border-left:5px solid transparent;background: #efefef;background-clip: padding-box;cursor:pointer}
::-webkit-scrollbar-thumb{background: #85bfcf;border-radius:0;border-left:5px solid transparent; background-clip: padding-box;cursor:pointer}
::-webkit-scrollbar-thumb:hover{cursor:pointer}
.icon-vtt{
    background-image: url(../img/ico-vtt.png);
    left: calc(100% + 10px); top: 50px;
}
.icon-vtt.on{
    background-image: url(../img/ico-vtt-on.png);
}
.icon-script{
    background-image: url(../img/ico-script.png);
    left: calc(100% + 10px); top: 130px;
}
.icon-script.on{
    background-image: url(../img/ico-script-on.png);
}
/* video-js */
.video-js{ max-height: none !important;} 
.video-js .vjs-control-bar{display: flex !important;}
.vjs-text-track-display{z-index: inherit !important;}