
// 카테고리 선택
.bx-wrp {
    display: flex; gap: 30px;
    .bx-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        h2 {
            margin-top: 28px;
        }
        .cont-category {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 18px 0 27px;
            gap: 12px;
            a:hover {
                opacity: 100%;
            }
        }
        .btn {
            margin-bottom: 40px;
        }
    }
}

// 여성-전체-상품
.all {
    // bx
    .bx-wrp {
        .bx {
            img {
                border-radius: 10px;
            }
            .bx-cont {
                border: 0;
                .text-light-purple {
                    margin: 6px 0 13px;
                    border: 0;
                }
                .btn {
                    color: #1E0E62;
                }
            }
        }
    }
    


}

//여성-상품상세
.detail {
    .container {
        display: flex;
        gap: 130px;
        margin-top: 100px;
        .prod-img-wrp {
            article.prod-img {
                display: flex;
                gap: 30px;
                .additional-img {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
                .main-img {
                    img {
                        height: 100%;
                    }
                }
            }
        }
        .prod-info-wrp {
            .prod-tit {
                h2 {
                    font-size: 32px;
                    margin-bottom: 12px;
                }
            }
            .prod-desc {
                width: 370px;
                margin: 23px 0 34px;
            }
            .prod-option {
                .size-option {
                    .btn {
                        border-radius: 100px;
                        padding: 9px 30px 9px 18px;
                    }
                }
                .option-wrp {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .color-option {
                        display: flex;
                        flex-direction: column;
                        .btn {
                            cursor: auto;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            label {
                                display: inline-block;
                                width: 22px;
                                height: 22px;
                                border-radius: 50%;
                                background: #0077B5;
                                &:nth-child(2) {
                                    background: #4267B2;
                                }
                                &:nth-child(3) {
                                    background: #1DA1F2;
                                }
                                &:nth-child(4) {
                                    background: #C8232C;
                                }
                                &:nth-child(5) {
                                    background: #219653;
                                }
                                input {
                                    cursor: pointer;
                                    opacity: 0;
                                }
                            }
                        }
                        
                    }
                    .quantity-option {
                        display: flex;
                        flex-direction: column;
                        .quantity-btn-wrp {
                            display: flex;
                            padding: 0;
                            width: 118px;
                            height: 40px;
                            .quantity-btn, p {
                                flex: 1;
                            }
                            p {
                                border-left: 2px solid #EBEAED;
                                border-right: 2px solid #EBEAED;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                cursor: auto;
                            }
                        }
                    }
                }
                .prod-detail-desc {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin: 37px 0 42px;
                    li {
                        list-style: disc;
                    }
                }
            }
        }
    }
    
} 