// 카테고리 선택택
.bx-wrp {
    display: flex; gap: 30px;
    .bx-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        h2 {
            margin-top: 28px;
        }
        .cont-category {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 18px 0 27px;
            gap: 12px;
            a:hover {
                opacity: 100%;
            }
        }
        .btn {
            margin-bottom: 40px;
        }
    }
}
// 여성-전체-상품
.woman-all {
    // dropdown
    .dropdown-wrp {
        display: flex;
        gap: 30px;
        .dropdown {
            margin-bottom: 30px;
            .btn {
                padding: 0 20px;
                border-radius: 0;
                font-size: 14px;
                color: #15143966;
                position: relative;
                text-align: left;
                padding-left: 16px;
                .icon-dropdown { 
                    position: absolute;
                    content: "";
                    background: url(../../img/shop/icon-dropdown.svg) no-repeat 100% 100%/contain;
                    width: 12px;
                    height: 12px;
                    margin: 2px 0 0 4px;
                }
            }
            .btn.active {
                color: #1E0E62;
                .icon-dropdown { 
                    background: url(../../img/shop/icon-dropdown-show.svg) no-repeat 100% 100%/contain;
                }
            }
        }
    }

    .dropdown.show {
        .btn {
            font-weight: 700;
        }
        .dropdown-menu.show {
            font-size: 16px;
            border-radius: 10px;
            box-shadow: 0 15px 40px rgba(0,0,0,0.17);
            background: #fff;
                .dropdown-item {
                    color: #15143966;
                }
                .dropdown-item:hover {
                    background: #EBEAED;
                }
        }
    }
    // bx
    .bx-wrp {
        .bx {
            img {
                border-radius: 10px;
            }
            .bx-cont {
                border: 0;
                .text-light-purple {
                    margin: 6px 0 13px;
                    border: 0;
                }
                .btn {
                    color: #1E0E62;
                }
            }
        }
    }
    


}